---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/main.min.css">
    {% include frontpage/head.html %}
</head>

<body>

    <!-- Navigation -->
    {% include _navigation.html %}

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>具有隐私性的区块链 Layer 2 拓展方案</h1>
                        <h3>采用前沿零知识证明技术在已有 Layer 2 区块链拓展方案上构建隐私保护</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline app-download-buttons">
                            <li>
                                <a href="https://itunes.apple.com/us/app/chatsecure/id464200063"><img src="images/appstore.svg" height="40px" alt="ChatSecure on iOS App Store"></a>
                            </li>
                        </ul>
                        <hr class="intro-divider">
                        {% include frontpage/social_buttons.html list_class="intro-social-buttons" %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

 	{% include _bottom_frontpage.html %}

</body>

</html>
