   <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">什么是区块链 Layer 2 扩展协议?</h2>
                    <p class="lead">区块链 Layer 2 是指构建在现有区块链系统之上的辅助框架或协议。 这些协议的主要目标是解决主要加密货币网络面临的交易速度和扩展困难。例如，比特币和以太坊仍然无法每秒处理数千笔交易（TPS），这不利于它们的长期应用。 在可以有效地采用和更广泛地使用这些网络之前，需要更高的吞吐量。
在这种情况下，术语“Layer 2”是指针对区块链可扩展性问题提出的多种解决方案, 其中两个主要示例是比特币闪电网络和以太坊 Plasma。 尽管有自己的工作机制和特殊性，但这两种解决方案都在努力为区块链系统提供更高的吞吐量。</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/accounts.png" alt="iOS Screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Strong Cryptography</h2>
                    <p class="lead">ChatSecure only uses well-known open source cryptographic libraries to keep your conversations private. Other apps may make claims about "military grade" security but, without publicly auditable source code and verifiable end-to-end encryption, you cannot be truly safe.</p>
                    <ul class="features-list">
                        <li>XMPP with <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security#Certificate_pinning">TLS certificate pinning.</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR</a> for verifiable <a href="https://en.wikipedia.org/wiki/End-to-end_encryption">end-to-end encryption</a> and <a href="https://en.wikipedia.org/wiki/Forward_secrecy">forward secrecy</a>.</li>
                        <li><a href="https://en.wikipedia.org/wiki/OMEMO">OMEMO</a> for a mobile-friendly alternative to OTR.</li>
                        <li><a href="https://en.wikipedia.org/wiki/Tor_(anonymity_network)">Tor</a> to help bypass restrictive firewalls.</li>
                        <li><a href="https://www.zetetic.net/sqlcipher/design/">SQLCipher</a> to locally encrypt conversation logs.</li>
                    <ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/chat.png" alt="Chat view screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Free and Open Source</h2>
                    <p class="lead">We believe in the power of free and open source software. The full source code to the <a href="https://github.com/chrisballinger/ChatSecure-iOS">iOS</a> app is available on GitHub.<br><br>Want to get involved? Feel free to send us a pull request!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Help us improve ChatSecure:</h2>
                </div>
                <div class="col-lg-6">
                    {% include frontpage/social_buttons.html list_class="banner-social-buttons" %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; <a href="http://chrisballinger.info">Chris Ballinger</a> 2014. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
                    Header image by <a href="https://www.flickr.com/photos/wwarby/9638549539/in/photostream/">William Warby</a>. Template from <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
