   <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">什么是区块链 Layer 2 扩展协议?</h2>
                    <p class="lead">区块链 Layer 2 是指构建在现有区块链系统之上的辅助框架或协议。这些协议的主要目标是解决主要加密货币网络面临的交易速度和扩展困难。术语“Layer 2”是指针对区块链可扩展性问题提出的多种解决方案, 其中两个主要示例是比特币闪电网络和以太坊 Plasma。 尽管有自己的工作机制和特殊性，但这两种解决方案都在努力为区块链系统提供更高的吞吐量。</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/accounts.png" alt="iOS Screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">零知识证明实现隐私保护</h2>
                    <p class="lead">我们引入一个非可信交易托管来线下处理用户交易，将用户交易加密后，批量，周期性的发送到区块链上，并利用零知识证明技术，证明这些交易的有效性。</p>
                    <ul class="features-list">
                        <li>非可信交易托管</a></li>
                        <li>无需可信参数的零知识证明技术</li>
                        <li>隐私交易数值</li>
                        <li>隐私余额</li>
                        <li>可监管</li>
                    <ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/chat.png" alt="Chat view screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">可监管的区块链银行</h2>
                    <p class="lead">系统引入的非可信交易托管可受监管，防止非法交易，保护合法用户权益。方案功能性可类比于传统银行，但以区块链为基础技术，去中心化。零知识证明使交易托管正确执行交易的同时保护隐私，但交易托管可授权可信第三方进行交易监察，防止非法交易。</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Help us improve ChatSecure:</h2>
                </div>
                <div class="col-lg-6">
                    {% include frontpage/social_buttons.html list_class="banner-social-buttons" %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; <a href="http://chrisballinger.info">Chris Ballinger</a> 2014. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
                    Header image by <a href="https://www.flickr.com/photos/wwarby/9638549539/in/photostream/">William Warby</a>. Template from <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
