<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="ChatSecure Logo">
            </a>
            <a href="关于" class="home">关于</a>
            <a href="技术文档" class="home">文档</a>
            <a href="疑问解答">疑问解答</a>
            <a href="支持">支持</a>
        </nav>
        <nav class="tagline">
            {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
            <a href="/blog" class="btn btn-outline">Blog</a>
        </nav>
    </header>
</section>